<template>

</template>
<script setup lang="ts">
import { defineProps } from "@vue/runtime-core";

const props = defineProps({
  playList: {
    type: Array,
  },
});
</script>
<style scoped lang="scss"></style>
