.icon {
  @include Iconfont(#000, 32);
}

.shadow {
  box-shadow: 2px 3px 1px rgb(37, 37, 37), -2px -3px 1px rgb(37, 37, 37);
}

.qrexpired {
  background-color: rgba(255, 255, 255, 0.616);
  z-index: 49;
}

.select {
  -webkit-touch-callout: none;
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  user-select: none;
}
