<template>
  <div class="w-full">
    <el-button class="flex items-center" type="primary" round>登录</el-button>
  </div>
</template>
<script setup lang="ts">
import { ElButton } from "element-plus";
</script>
<style scoped lang="scss"></style>
