<template>
  <div :class="rootClass">
    <span class="icon_text bg-white py-1 px-1 rounded-l-lg" v-if="isIcon">
      <i class="iconfont iconsousuo"></i>
    </span>
    <input
      :type="type"
      :disabled="disabled"
      :placeholder="placeholder"
      @focus="onFocus"
      @blur="onBlur"
      @keydown.enter="keyupEnter"
      v-model="text"
      class="text-black w-48 py-2 px-2 border-none outline-none"
      :class="[{ 'rounded-r-lg': isIcon }, setClass]"
    />
  </div>
</template>

<script setup lang="ts">
import { defineEmit, defineProps, customRef, computed } from "vue";

import { keyupEnter } from "./api/onSearch";

import type { PropType } from "vue";

const props = defineProps({
  type: {
    type: String,
    default: "text",
  },
  placeholder: {
    type: String,
    default: "",
  },
  returnresdata: {
    type: Function,
    required: true,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  isIcon: {
    type: Boolean,
    default: true,
  },
  class: [String, Array],
  inputClass: {
    type: [String, Array] as PropType<string | string[]>,
  },
});

const ctxEmit = defineEmit(["change", "focus", "blur"]);
let searchValue = "";

function onFocus() {
  if (searchValue === "") return;
  ctxEmit("focus", searchValue || props.placeholder || "", props.returnresdata);
}

function onBlur() {
  ctxEmit("blur", false);
}

const changeModel = (value?: any, delay: number = 300) => {
  let timeout: NodeJS.Timeout | null = null;

  return customRef((track, trigger) => {
    return {
      get() {
        track();
        return value;
      },
      set(newVlaue: string) {
        const kongke = /\s/.test(newVlaue);

        if (newVlaue === "" && !kongke) {
          ctxEmit("blur", false);
        }

        if (timeout) {
          clearTimeout(timeout);
        }

        timeout = setTimeout(() => {
          if (newVlaue != "") {
            searchValue = newVlaue;
            ctxEmit("change", newVlaue, props.returnresdata);
          }
          timeout = null;
        }, delay);
      },
    };
  });
};

const text = changeModel();

const setClass = computed(() => {
  return typeof props.inputClass === "string"
    ? props.inputClass
    : props.inputClass?.join("");
});

function putClass(classList: string[], inputClass: string) {
  inputClass.split(" ").forEach((v) => {
    const str = v.substring(0, 2);

    if (str === "w-" || str === "h-") {
      const index = classList.findIndex(
        (calssv) => calssv.substring(0, 2) === str
      );

      index >= 0 ? classList.splice(index, 1, v) : classList.push(v);
    } else {
      classList.push(v);
    }
  });

  return classList;
}

const rootClass = computed(() => {
  const classList = ["flex", "justify-center", "items-center", "h-full"];

  return typeof props.class === "string"
    ? putClass(classList, props.class)
    : Array.isArray(props.class)
    ? putClass(classList, props.class!.join(" "))
    : "";
});
</script>

<style scoped lang="scss">
@include Iconfont(rgb(204, 204, 204, 1));

.icon_text {
  transform: translateX(1px);
}
</style>
