@mixin Iconfont($fontColor: "#fff", $fontSize: 16) {
  .iconfont {
    font-family: "iconfont" !important;
    font-size: $fontSize +#{px};
    font-style: normal;
    color: $fontColor;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
}

@mixin absolute($t: 0, $r: 0, $b: 0, $l: 0) {
  position: absolute;
  top: $t +#{px};
  left: $l +#{px};
  right: $r +#{px};
  bottom: $b +#{px};
}

@mixin hover_dec($enter_color: "#74b9ff") {
  &:deep(.hover_init) {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin Text_Color {
  color: #318fb5;
}

@mixin Background {
  color: #318fb5;
}

@mixin Decoration_Hover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.bottom_line {
  @include Decoration_Hover;
}

@mixin Dlinexx($linecount: 3) {
  .dlinexx {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $linecount;
    overflow: hidden;
  }
}
