@mixin Iconfont($fontColor: "#fff", $fontSize: 16) {
  .iconfont {
    font-family: "iconfont" !important;
    font-size: $fontSize +#{px};
    font-style: normal;
    color: $fontColor;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
}

@mixin absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
